.dialogs {
  display: grid;
  grid-template-columns: 3fr 5fr;
}

.dialogsItems {
  padding: 30px;
}

a.activeLink {
  color: gold;
}

.messages {
  padding: 30px;
}

.dialogItem img {
  width: 90px;
  border-radius: 30px;
}